body {
  margin: 0;
  background-image: url(./images/backgroundimage.jpg);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
